DATABASE_URL="postgresql://neondb_owner:npg_2lEHCwFv5Qgd@ep-floral-thunder-ao4a97pi-pooler.c-2.ap-southeast-1.aws.neon.tech/PushkaraNigha?sslmode=require&channel_binding=require"
NEXT_PUBLIC_API_URL="http://localhost:3000"
JWT_SECRET="your_secret_here"
